<h1>タスクの詳細</h1>

<%= link_to '一覧', root_path %>

<table  class="table">
  <tr>
    <th>タスクの名前</>
    <th>内容</th>
    <th>作成日時</th>
    <th>更新日時</th>
  </tr>
  <tr>
    <td><%= @task.name %></td>
    <td><%= @task.description %></td>
    <td><%= @task.created_at %></td>
    <td><%= @task.updated_at %></td>
  </tr>
</table>

  <%= link_to '編集', edit_task_path %>
